.overHistoryDiv{
    display: inline-block;
    width: 70%;
    height: 500px;
    border: 1px solid #000;
    margin: 0px auto 50px auto;
    padding: 20px 50px 50px 50px;
    text-align: left;
    align-items: left;
}